body{
  margin: 0;
}
nav{
  background-color: black;

  overflow: hidden;
}
.link{
  color: azure;
  text-decoration: none;
  padding-top:15px;
  font-size: 20px;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: left;
  text-align: center;
  padding: 14px 16px;
  margin:2px;
}
.link:hover{
  background-color: white;
  color: black;
}

.logo{
  padding-left: 150px;
  height:250px;
}
.logo-dog{
  height: 250px;
}
.logo-title{
  margin-bottom: 50px;
}
.banner{
  width: 100%;

}
.product-img{
  width: 200px;
}
.product-card{
  width: 250px;
  height: 300px;
  margin:15px;
  background-color: black;
 
}

.product-link{
  text-decoration: none;
}
.cardcontent{
  text-align: center;
  height: 350px;
}
.product-detail{
  text-align: center;
  padding: 5px;
  margin:0;
}
.product-detail h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.productdetail-img{
  width: 500px;
}